In [9]:
import pandas as pd

df = pd.read_csv("Car details v3.csv")  
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [39]:
print(df.head())
print(df.info())
print(df.describe())

                           name  year  selling_price  km_driven seller_type  \
0        Maruti Swift Dzire VDI  2014         450000     145500  Individual
1  Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Individual
2      Honda City 2017-2020 EXi  2006         158000     140000  Individual
3     Hyundai i20 Sportz Diesel  2010         225000     127000  Individual
4        Maruti Swift VXI BSIII  2007         130000     120000  Individual

      mileage   engine   max_power                    torque  seats  \
0   23.4 kmpl  1248 CC      74 bhp            190Nm@ 2000rpm    5.0
1  21.14 kmpl  1498 CC  103.52 bhp       250Nm@ 1500-2500rpm    5.0
2   17.7 kmpl  1497 CC      78 bhp     12.7@ 2,700(kgm@ rpm)    5.0
3   23.0 kmpl  1396 CC      90 bhp  22.4 kgm at 1750-2750rpm    5.0
4   16.1 kmpl  1298 CC    88.2 bhp     11.5@ 4,500(kgm@ rpm)    5.0

   fuel_Diesel  fuel_LPG  fuel_Petrol  transmission_Manual  \
0         True     False        False                 True
1         True     False        False                 True
2        False     False         True                 True
3         True     False        False                 True
4        False     False         True                 True

   owner_Fourth & Above Owner  owner_Second Owner  owner_Test Drive Car  \
0                       False               False                 False
1                       False                True                 False
2                       False               False                 False
3                       False               False                 False
4                       False               False                 False

   owner_Third Owner
0              False
1              False
2               True
3              False
4              False
<class 'pandas.core.frame.DataFrame'>
Index: 7906 entries, 0 to 8127
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        7906 non-null   object
 1   year                        7906 non-null   int64
 2   selling_price               7906 non-null   int64
 3   km_driven                   7906 non-null   int64
 4   seller_type                 7906 non-null   object
 5   mileage                     7906 non-null   object
 6   engine                      7906 non-null   object
 7   max_power                   7906 non-null   object
 8   torque                      7906 non-null   object
 9   seats                       7906 non-null   float64
 10  fuel_Diesel                 7906 non-null   bool
 11  fuel_LPG                    7906 non-null   bool
 12  fuel_Petrol                 7906 non-null   bool
 13  transmission_Manual         7906 non-null   bool
 14  owner_Fourth & Above Owner  7906 non-null   bool
 15  owner_Second Owner          7906 non-null   bool
 16  owner_Test Drive Car        7906 non-null   bool
 17  owner_Third Owner           7906 non-null   bool
dtypes: bool(8), float64(1), int64(3), object(6)
memory usage: 741.2+ KB
None
              year  selling_price     km_driven        seats
count  7906.000000   7.906000e+03  7.906000e+03  7906.000000
mean   2013.983936   6.498137e+05  6.918866e+04     5.416393
std       3.863695   8.135827e+05  5.679230e+04     0.959208
min    1994.000000   2.999900e+04  1.000000e+00     2.000000
25%    2012.000000   2.700000e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.900000e+05  9.542500e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

In [63]:
print(df.columns)

Index(['name', 'year', 'selling_price', 'km_driven', 'mileage', 'engine',
       'max_power', 'torque', 'seats', 'fuel_Diesel', 'fuel_Petrol',
       'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner', 'fuel_LPG_True',
       'seller_type_Trustmark Dealer', 'transmission_Manual_True',
       'seller_type_Individual_True'],
      dtype='object')

In [65]:
print(df.isnull().sum())

name                            0
year                            0
selling_price                   0
km_driven                       0
mileage                         0
engine                          0
max_power                       0
torque                          0
seats                           0
fuel_Diesel                     0
fuel_Petrol                     0
owner_Fourth & Above Owner      0
owner_Second Owner              0
owner_Test Drive Car            0
owner_Third Owner               0
fuel_LPG_True                   0
seller_type_Trustmark Dealer    0
transmission_Manual_True        0
seller_type_Individual_True     0
dtype: int64

In [67]:
# Eliminar filas con valores nulos
df.dropna(inplace=True)

In [69]:
print(df.isnull().sum())

name                            0
year                            0
selling_price                   0
km_driven                       0
mileage                         0
engine                          0
max_power                       0
torque                          0
seats                           0
fuel_Diesel                     0
fuel_Petrol                     0
owner_Fourth & Above Owner      0
owner_Second Owner              0
owner_Test Drive Car            0
owner_Third Owner               0
fuel_LPG_True                   0
seller_type_Trustmark Dealer    0
transmission_Manual_True        0
seller_type_Individual_True     0
dtype: int64

In [79]:
# Eliminar filas con valores nulos
df.dropna(inplace=True)

In [73]:
# Definir las variables independientes (X) y dependientes (y)
X = df.drop(['selling_price', 'name'], axis=1)  # Eliminamos 'selling_price' y 'name'
y = df['selling_price']

In [83]:
from sklearn.model_selection import train_test_split

# Dividir el dataset en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [85]:
# Función para limpiar las columnas y convertirlas a float
def clean_numeric_column(column):
    # Eliminar caracteres no numéricos y convertir a float
    return column.str.extract('(\d+\.?\d*)')[0].astype(float)

# Limpiar las columnas
df['mileage'] = clean_numeric_column(df['mileage'])
df['engine'] = clean_numeric_column(df['engine'])
df['max_power'] = clean_numeric_column(df['max_power'])

# Verificar si hay valores nulos después de la limpieza
print(df.isnull().sum())

name                            0
year                            0
selling_price                   0
km_driven                       0
mileage                         0
engine                          0
max_power                       0
torque                          0
seats                           0
fuel_Diesel                     0
fuel_Petrol                     0
owner_Fourth & Above Owner      0
owner_Second Owner              0
owner_Test Drive Car            0
owner_Third Owner               0
fuel_LPG_True                   0
seller_type_Trustmark Dealer    0
transmission_Manual_True        0
seller_type_Individual_True     0
dtype: int64

In [87]:
# Manejar valores nulos, si es necesario
df.dropna(inplace=True)

In [97]:
# Redefinir las variables independientes (X) y dependientes (y)
X = df.drop(['selling_price', 'name'], axis=1)
y = df['selling_price']

# Dividir el dataset en conjuntos de entrenamiento y prueba
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Entrenar el modelo de regresión lineal
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [99]:
from sklearn.metrics import mean_squared_error, r2_score

# Hacer predicciones
y_pred = model.predict(X_test)

# Evaluar el modelo
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 216230490380.89752
R^2 Score: 0.6890036463263263